@import 'colors/yellow_purple';
$deep-orange-500: #ff5722;
$blue-200: #448aff;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$forest-green: #1b5e20;
$brown: #3e2723;
$pure-white: #fff;


// $mdc-theme-primary: #77685d;
// $mdc-theme-secondary: #058ed9;

// $mdc-theme-primary: #483d3f;
// $mdc-theme-secondary: #f46036;

$cafe-noir: #483d3f;
$rust: #9b3d12;
$primary-grey: #b5b1b2;
$kelly-green: #129b3d;

$mdc-theme-primary: $cafe-noir;
$mdc-theme-secondary: $rust;

// $mdc-theme-primary: #848384;
// $mdc-theme-secondary: #a63d40;

// $mdc-theme-primary: #848384;
// $mdc-theme-secondary: #e4572e;

// $mdc-theme-primary: #848384;
// $mdc-theme-secondary: #8a4f7d;

// $mdc-theme-primary: #494947;
// $mdc-theme-secondary: #44ccff;

$mdc-theme-on-primary: $white;
$mdc-theme-on-secondary: $white;
$body-background-color: $grey-100;
$alert-color: $dark-red;
$warning-color: $dark-blue;
$success-color: $dark-green;
