$mdc-typography-font-family: 'Work Sans', sans-serif !default;

.material-icons.md-18 { font-size: rem-calc(18); }
.material-icons.md-24 { font-size: rem-calc(24); }
.material-icons.md-36 { font-size: rem-calc(36); }
.material-icons.md-48 { font-size: rem-calc(48); }
