// .namespace-ModuleOrComponent_ChildNode-variant {}
//tk-

.tk-Content {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.tk-FieldGrid {
  padding-bottom: 1rem;
}

.tk-FieldLabel {
  text-align: left;
  color: gray;
}
