// pl .namespace-ModuleOrComponent_ChildNode-variant {}
.pl-Project {
  cursor: pointer;
}
.pl-Project_Link-nest1 {
  margin-left: rem-calc(20);
}

.pl-Project_Link-nest2 {
  margin-left: rem-calc(40);
}

.pl-Project_Link-nest3 {
  margin-left: rem-calc(60);
}

.pl-Project_Link-nest4 {
  margin-left: rem-calc(80);
}
